 
{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
 
   <div class="app-main__outer ">
                <div class="app-main__inner mx-4">
                    <div class="app-page-title mx-1">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-users icon-gradient bg-strong-bliss"></i>
                                </div>
                                <div>Classes
                                    <div class="page-title-subheading">Gestion des classes</div>
                                </div>
                            </div>
                           <div class="page-title-actions">
                        
                            <div class="d-inline-block dropdown">
                            <a href="/classes/new">
                                <button class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-success">Ajouter une classe</button>
                               </a>
                            </div>
                        </div>
                        </div>
                    </div>
                        <div class="col-lg-6">
                        <div class="main-card mb-3 card">
                        <div class="card-body" >
                        <h5 class="card-title">Liste Des Classe</h5>
                        <table class="mb-0 table">
                        <thead>
                        <tr>
                    <div class="row">
                    <div class="col-sm-18">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
                        <thead>
                        <th>Nom</th>
                        <th>Date De Création</th>
                        <th>Créer par</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                    
  
{% endblock %}

 